body{
  font-family:Arial;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  padding-bottom:100px;
}
.rps{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
  margin-top:70px;
}
.title{
  font-weight:bold;
  font-size:32px;
  margin-bottom:40px;
}
.move-div{
  margin-bottom:40px;
  display: flex;
}
.move-btn{
  background-color: transparent;
  border:3px solid white;
  width: 90px;
  height: 90px;
  border-radius:50%;
  margin-right:20px;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color:transparent;
}
.move-img{
  height:50px;
}
.results{
  font-weight:bold;
  font-size:26px;
  margin-bottom: 20px;
}
.move-results{
  font-size:18px;
  margin-bottom:30px;
}
.score{
  font-size:18px;
  margin-bottom:20px;
}
.reset-btn,
.auto-play-btn{
  padding:8px 10px;
  background-color: white;
  border:none;
  font-size:16px;
  margin-right:10px;
  cursor:pointer;
  transition: opacity 0.15s;
  border-radius: 25px;
  -webkit-tap-highlight-color:transparent;
}
.reset-btn:hover,
.auto-play-btn:hover{
  opacity: 0.96;
}

@media screen and (max-width:412px){
  .title{
    font-size: 60px;
  }
}
